<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stat.name %>
</p>

<p>
  <b>Content:</b>
  <%= @stat.content %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
